    <footer class="site-foot">
      <section id="foot-doc">
      <div class="fdoc-title"></div>
      <div class="fdoc-content">
        Copyright (C) 2014 <a href="http://www.mingri.org/">MingRi.org</a>. {Tidy Study Theme} Designed by <a href="http://www.jiqiyu.com/">囡鱼</a>. All rights reserved. 本站所有内容包括文章裡的圖片除特殊说明外，遵从<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" target="blank">署名-非商业-禁止演绎 3.0 创作共享协议</a> 转载请注明出处：MingRi.org .
      </div>
      </section>
    </footer>
  </body>
  <script>
    var domReadyTime = Date.now();
    var domRenderingTime = domReadyTime - pageStartTime;
  </script>
</html>
